@import '_style.scss';
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
#header{
    @include headnav();
}
// Navbar End-------------------------------------------------------------------------------------------- 

// Hero Section Start------------------------------------------------------------------------------------
#hero{
    margin-top: 0.5vh;
    height: 95vh;
    width: 100%;
    background-image: url('/backimg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    margin-bottom: 5vh;
    // animation: move 4s ease infinite;

    // @keyframes animatehero{
    //     25%{
    //         background-image: url('');
    //     }
    //     50%{
    //         background-image: url('');
    //     }
    //     75%{
    //         background-image: url('');
    //     }        
    // }


    .hero{
        height: 95vh;
        background-color: rgba(0, 0, 0, 0.20);
        color: white;
        justify-items: center;
        text-align: center;
        .quote{
            padding-top: 2vh;
            padding-bottom: 25vh;
            font-size: 40px;  
        }
        .hero-search{
            height: 20vh;
            width: 32vw;
            background-color: rgba(41, 40, 40, 0.411);
            justify-items: center;
            line-height: 35px;
            
            h1{
                font-size: 30px;
            }
            strong{
                font-size: 20px;
                margin-right: 15px;
            }
            #car-brands{
                display: none;
                width: 28vw;
                height: 5vh;
                text-align: center;
                font-size: large;
            }
            
            #car-brand:checked~#car-brands{
                display: block;
            }
            
            #car-types{
                display: none;
                width: 28vw;
                height: 5vh;
                text-align: center;
                font-size: large;
            }
            
            #car-type:checked~#car-types{
                display: block;
            }
            
            #car-budgets{
                display: none;
                width: 28vw;
                height: 5vh;
                text-align: center;
                font-size: large;
            }
            
            #car-budget:checked~#car-budgets{
                display: block;
            }
                          
         
        }
    }   
}
// Hero Section End---------------------------------------------------------------------------------------------

#brandwise-cars{
    h1{
        margin-bottom: 5vh;
        margin-left: 5vw;
    }
    .brandlogos{
        background-color: rgb(231, 231, 231);
        margin-left: 4vw;
        margin-right: 4.6vw;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10vh;
        div{
            width: 15vw;
            height: 20.5vh;
            border: .5px solid black;  
            a{
                text-align: center;
                text-decoration: none;
                color: black;
                img{
                    margin-left: 18px;
                    margin-top: 4px;
                }    
            
            }      
        }
        div:hover{
            background-color: rgb(255, 208, 1);
            transform: scale(1.2);
            transition: all 0.5s;
            z-index: 5;
        }          
    } 
}

#bodywise-search{
    h1{
        margin: 5vh;
        margin-left: 5vw;
    }
    .body-type{
        background-color: rgb(231, 231, 231);
        margin-left: 4vw;
        margin-right: 4vw;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10vh;
        div{
            padding: 3.75vh;
            width: 15vw;
            height: 20.5vh;
            border: .5px solid black; 
            a{
                text-align: center;
                text-decoration: none;
                color: black
            }           
        }
        div:hover{
            background-color: rgb(255, 208, 1);
            transform: scale(1.2);
            transition: all 0.5s;
            z-index: 5;
        
        }
    }                                                                                                                           
}
#bottom{
    @include footer();
}
