* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

#header #navbar {
  height: 11vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
}
#header #navbar a {
  margin-left: 4vw;
}
#header #navbar .search {
  margin-left: 40vw;
  display: flex;
  align-items: center;
}
#header #navbar .search input {
  border: none;
  height: 6vh;
  width: 22vw;
  box-shadow: 1px 1px 3px 3px gray;
  border-radius: 10px;
}
#header #navbar .search a {
  margin-left: -25px;
  margin-right: 4vw;
}
#header #navbar .loginbtn {
  border: 1px solid black;
  width: 7vw;
  height: 5vh;
  border-radius: 2vh;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 4px;
}
#header #nav2 {
  height: 6vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#header #nav2 a {
  color: black;
  text-decoration: none;
}
#header #nav2 .nav2-opt {
  margin-right: 50%;
  display: flex;
  list-style: none;
  font-size: large;
  font-weight: bold;
  gap: 15px;
}
#header #nav2 .nav2-opt a {
  margin-bottom: 2vh;
  color: black;
  text-decoration: none;
}
#header #nav2 .nav2-opt .nc-dd {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 15vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: -1vw;
  padding-left: 1vw;
  font-weight: normal;
}
#header #nav2 .nav2-opt .nc:hover .nc-dd {
  display: block;
}
#header #nav2 .nav2-opt .nr-dd {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 15vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: -1vw;
  padding-left: 1vw;
  font-weight: normal;
}
#header #nav2 .nav2-opt .nr:hover .nr-dd {
  display: block;
}
#header #nav2 .nav2-opt .cs-dd {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 15vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: -1vw;
  padding-left: 1vw;
  font-weight: normal;
  min-width: 18vw;
}
#header #nav2 .nav2-opt .cs:hover .cs-dd {
  display: block;
}

#hero {
  height: 95vh;
  width: 100%;
  background-image: url("/home hero sec.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  margin-bottom: 10vh;
}
#hero .hero {
  height: 95vh;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  justify-items: center;
  text-align: center;
}
#hero .hero .quote {
  padding-top: 2vh;
  padding-bottom: 25vh;
  font-size: 40px;
}
#hero .hero .hero-search {
  height: 20vh;
  width: 32vw;
  background-color: rgba(58, 57, 57, 0.226);
  justify-items: center;
  line-height: 35px;
}
#hero .hero .hero-search h1 {
  font-size: 30px;
}
#hero .hero .hero-search strong {
  font-size: 20px;
  margin-right: 15px;
}

#brandwise-cars h1 {
  margin: 5vh;
  margin-left: 5vw;
}
#brandwise-cars .brandlogos {
  margin-left: 4vw;
  margin-right: 4vw;
  display: flex;
  flex-wrap: wrap;
}
#brandwise-cars .brandlogos div {
  padding-left: 15px;
  width: 15vw;
  height: 15vh;
  border: 0.5px solid black;
}

#bottom #footer {
  margin-top: 10vh;
  margin-left: 3vw;
  margin-right: 3vw;
}
#bottom #footer .footermain {
  margin-top: 8vh;
  height: 45vh;
  display: flex;
}
#bottom #footer .footermain div {
  width: 55vh;
  line-height: 25px;
}
#bottom #footer .footermain div a {
  color: rgb(94, 93, 93);
  text-decoration: none;
}
#bottom #footer .footermain .footermain div a:hover {
  color: blue;
  text-decoration: underline;
}
#bottom #footer .footerbottom {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3vw;
  margin-right: 3vw;
}
#bottom #footer .footerbottom span a {
  text-decoration: none;
  color: black;
  margin: 5px;
}/*# sourceMappingURL=style.css.map */