* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#header #navbar {
  height: 11vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(36, 35, 35, 0.959);
}
#header #navbar a {
  margin-left: 4vw;
}
#header #navbar .search {
  margin-left: 40vw;
  display: flex;
  align-items: center;
}
#header #navbar .search input {
  border: none;
  height: 6vh;
  width: 22vw;
  box-shadow: 1px 1px 3px 2px gray;
  border-radius: 10px;
}
#header #navbar .search a {
  margin-left: -25px;
  margin-right: 4vw;
}
#header #navbar .loginbtn {
  border: 1px solid black;
  width: 7vw;
  height: 5vh;
  border-radius: 2vh;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 4px;
}
#header #nav2 {
  height: 6vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: large;
  font-weight: bold;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.904);
}
#header #nav2 a {
  color: black;
  text-decoration: none;
}
#header #nav2 .nav2-opt {
  margin-right: 50%;
  display: flex;
  list-style: none;
  gap: 15px;
}
#header #nav2 .nav2-opt a {
  margin-bottom: 2vh;
  color: black;
  text-decoration: none;
}
#header #nav2 .nav2-opt .nc-dd {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 15vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-left: -1vw;
  padding-left: 1vw;
  font-weight: normal;
}
#header #nav2 .nav2-opt .nc-dd a:hover {
  border-bottom: 2px solid black;
  background-color: rgb(22, 22, 22);
  color: rgb(255, 255, 255);
}
#header #nav2 .nav2-opt .nc:hover .nc-dd {
  display: block;
}
#header #nav2 .nav2-opt .nr-dd {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 15vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-left: -1vw;
  padding-left: 1vw;
  font-weight: normal;
}
#header #nav2 .nav2-opt .nr-dd a:hover {
  border-bottom: 2px solid black;
  background-color: rgb(22, 22, 22);
  color: rgb(255, 255, 255);
}
#header #nav2 .nav2-opt .nr:hover .nr-dd {
  display: block;
}
#header #nav2 .nav2-opt .cs-dd {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 15vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-left: -1vw;
  padding-left: 1vw;
  font-weight: normal;
  min-width: 18vw;
}
#header #nav2 .nav2-opt .cs-dd a:hover {
  border-bottom: 2px solid black;
  background-color: rgb(22, 22, 22);
  color: rgb(255, 255, 255);
}
#header #nav2 .nav2-opt .cs:hover .cs-dd {
  display: block;
}
#header #nav2 .location-dd {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 15vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-left: -1vw;
  padding-left: 1vw;
  font-weight: normal;
  font-size: large;
}
#header #nav2 .location-dd a:hover {
  border-bottom: 2px solid black;
  background-color: rgb(22, 22, 22);
  color: rgb(255, 255, 255);
}
#header #nav2 #locate:hover .location-dd {
  display: block;
}

#hero {
  margin-top: 0.5vh;
  height: 95vh;
  width: 100%;
  background-image: url("/backimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  margin-bottom: 5vh;
}
#hero .hero {
  height: 95vh;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  justify-items: center;
  text-align: center;
}
#hero .hero .quote {
  padding-top: 2vh;
  padding-bottom: 25vh;
  font-size: 40px;
}
#hero .hero .hero-search {
  height: 20vh;
  width: 32vw;
  background-color: rgba(41, 40, 40, 0.411);
  justify-items: center;
  line-height: 35px;
}
#hero .hero .hero-search h1 {
  font-size: 30px;
}
#hero .hero .hero-search strong {
  font-size: 20px;
  margin-right: 15px;
}
#hero .hero .hero-search #car-brands {
  display: none;
  width: 28vw;
  height: 5vh;
  text-align: center;
  font-size: large;
}
#hero .hero .hero-search #car-brand:checked ~ #car-brands {
  display: block;
}
#hero .hero .hero-search #car-types {
  display: none;
  width: 28vw;
  height: 5vh;
  text-align: center;
  font-size: large;
}
#hero .hero .hero-search #car-type:checked ~ #car-types {
  display: block;
}
#hero .hero .hero-search #car-budgets {
  display: none;
  width: 28vw;
  height: 5vh;
  text-align: center;
  font-size: large;
}
#hero .hero .hero-search #car-budget:checked ~ #car-budgets {
  display: block;
}

#brandwise-cars h1 {
  margin-bottom: 5vh;
  margin-left: 5vw;
}
#brandwise-cars .brandlogos {
  background-color: rgb(231, 231, 231);
  margin-left: 4vw;
  margin-right: 4.6vw;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10vh;
}
#brandwise-cars .brandlogos div {
  width: 15vw;
  height: 20.5vh;
  border: 0.5px solid black;
}
#brandwise-cars .brandlogos div a {
  text-align: center;
  text-decoration: none;
  color: black;
}
#brandwise-cars .brandlogos div a img {
  margin-left: 18px;
  margin-top: 4px;
}
#brandwise-cars .brandlogos div:hover {
  background-color: rgb(255, 208, 1);
  transform: scale(1.2);
  transition: all 0.5s;
  z-index: 5;
}

#bodywise-search h1 {
  margin: 5vh;
  margin-left: 5vw;
}
#bodywise-search .body-type {
  background-color: rgb(231, 231, 231);
  margin-left: 4vw;
  margin-right: 4vw;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10vh;
}
#bodywise-search .body-type div {
  padding: 3.75vh;
  width: 15vw;
  height: 20.5vh;
  border: 0.5px solid black;
}
#bodywise-search .body-type div a {
  text-align: center;
  text-decoration: none;
  color: black;
}
#bodywise-search .body-type div:hover {
  background-color: rgb(255, 208, 1);
  transform: scale(1.2);
  transition: all 0.5s;
  z-index: 5;
}

#bottom #footer {
  margin-top: 10vh;
  margin-left: 3vw;
  margin-right: 3vw;
}
#bottom #footer .footermain {
  margin-top: 8vh;
  height: 45vh;
  display: flex;
}
#bottom #footer .footermain div {
  width: 55vh;
  line-height: 25px;
}
#bottom #footer .footermain div a {
  color: rgb(94, 93, 93);
  text-decoration: none;
}
#bottom #footer .footermain .footermain div a:hover {
  color: blue;
  text-decoration: underline;
}
#bottom #footer .footerbottom {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3vw;
  margin-right: 3vw;
}
#bottom #footer .footerbottom span a {
  text-decoration: none;
  color: black;
  margin: 5px;
}/*# sourceMappingURL=style.css.map */