*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#navbar{
    height: 10%;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: space-around;
    align-items: center;

    .pagelogo{
        margin-left: 3%;
    }

    ul{
        display: flex;
        list-style: none;
        font-size: large;
        font-weight: bolder;
        gap: 15px;
        a{
        color: black;
        text-decoration: none;
        
        }            
    }
    .search{ 
        margin-left: 25%;
        display: flex;
        align-items: center;
        margin-right: 5%;
        input {
        border: none;
        height: 30px;
        width: 250px;
        border-bottom: 2px solid black;
        border-radius: 10px;
        }
        a{
            margin-left: -25px;
        }
        
    }
}